apiVersion: v1
kind: Namespace
metadata:
  name: student-app
  labels:
    name: student-app
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: student-app
type: Opaque
data:
  # postgres (base64 encoded)
  username: cG9zdGdyZXM=
  # password (base64 encoded)  
  password: cGFzc3dvcmQ=
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: backend-network-policy
  namespace: student-app
spec:
  podSelector:
    matchLabels:
      app: backend
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: frontend
    ports:
    - protocol: TCP
      port: 5000
  egress:
  - to:
    - podSelector:
        matchLabels:
          app: postgres
    ports:
    - protocol: TCP
      port: 5432
  - to: []
    ports:
    - protocol: TCP
      port: 53
    - protocol: UDP
      port: 53